// SPDX-License-Identifier: BSD-3-Clause

/dts-v1/;
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include "sm8450.dtsi"
#include "pm8350.dtsi"
#include "pm8350c.dtsi"

/delete-node/ &xbl_sc_mem;
/delete-node/ &rmtfs_mem;
/delete-node/ &oem_vm_mem;

/ {
	model = "Lenovo Legion Y700 2023";
	compatible = "lenovo,tb320fc", "qcom,sm8475", "qcom,sm8450",
		     "qcom,cape-mtp", "qcom,cape", "qcom,mtp";
	chassis-type = "tablet";
	/* TODO: Remove downstream *-id */
	qcom,msm-id = <0x213 0x10000>;
	qcom,board-id = <0x10008 0>;
	/* TODO: merge this flag during vendor_boot building */
	/* region_country is mandatory as bootloader accept either ROW or PRC */
	region_country = "ROW";

	/delete-node/ memory@a0000000;
	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0x6a000000>,
		      <0 0xed900000 0 0x12700000>,
		      <8 0x00000000 0 0x39900000>,
		      <9 0x00000000 1 0x80000000>,
		      <8 0x40000000 0 0xc0000000>;
	};

	aliases {
		serial0 = &uart7;
		i2c2 = &i2c2;
		i2c5 = &i2c5;
		mmc0 = &sdhc_2;
	};
	chosen {
		stdout-path = "serial0:115200n8";
		framebuffer@b8000000 {
			compatible = "simple-framebuffer";
			memory-region = <&splash_region>;
			width = <1600>;
			height = <2560>;
			stride = <6400>;
			format = "x8r8g8b8";
			status = "okay";
		};
	};

	wifi-pmu {
		compatible = "qcom,wcn6855-pmu";
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_enable_default &bt_enable_default &wlan_xo_default>;
		wlan-enable-gpios = <&tlmm 80 GPIO_ACTIVE_HIGH>;
		bt-enable-gpios = <&tlmm 81 GPIO_ACTIVE_HIGH>;
		swctrl-gpios = <&tlmm 82 GPIO_ACTIVE_HIGH>;
		xo-clk-gpios = <&tlmm 204 GPIO_ACTIVE_HIGH>;
		vddio-supply = <&vreg_s10b_1p8>;
		vddaon-supply = <&vreg_s11b_wifi>;
		vddpmu-supply = <&vreg_s12b_1p25>;
		vddpmumx-supply = <&vreg_s2e_wifi>;
		vddpmucx-supply = <&vreg_s11b_wifi>;
		vddrfa0p95-supply = <&vreg_s11b_wifi>;
		vddrfa1p3-supply = <&vreg_s12b_1p25>;
		vddrfa1p9-supply = <&vreg_s1c_wifi>;
		vddpcie1p3-supply = <&vreg_s12b_1p25>;
		vddpcie1p9-supply = <&vreg_s1c_wifi>;

		regulators {
			wcn_aon: ldo1 {
				regulator-name = "wcn_aon";
			};
		};
	};

	vph_pwr: regulator-vph-pwr {
		compatible = "regulator-fixed";
		regulator-name = "vph_pwr";
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
		regulator-always-on;
	};

	reserved-memory {
		splash_region: splash_region {
			reg = <0 0xb8000000 0 0x2b00000>;
			no-map;
		};
		ramoops@a7ce00000 {
			compatible = "ramoops";
			reg = <0xa 0x7ce00000 0 0x200000>;
			pmsg-size = <0x200000>;
			mem-type = <2>;
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	status = "okay";

	panel_backlight: backlight@11 {
		compatible = "kinetic,ktz8866";
		reg = <0x11>;
		vddpos-supply = <&panel_vddpos>;
		vddneg-supply = <&panel_vddneg>;
		enable-gpios = <&tlmm 62 GPIO_ACTIVE_HIGH>;
		current-num-sinks = <4>;
		default-brightness = <1027>;
		/* No kinetic,enable-lcd-bias: preserve the measured 0x9e.
		 * Voltage/current/boost settings remain programmed by ABL.
		 */
	};
};

/ {
	panel_vddpos: regulator-panel-vddpos {
		compatible = "regulator-fixed";
		regulator-name = "panel_vddpos";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
		gpio = <&tlmm 61 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
	panel_vddneg: regulator-panel-vddneg {
		compatible = "regulator-fixed";
		regulator-name = "panel_vddneg";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
		vin-supply = <&panel_vddpos>;
		gpio = <&tlmm 65 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
};

&mdss { status = "okay"; };

&mdss_dsi0 {
	vdda-supply = <&vreg_l10c_1p2>;
	qcom,dual-dsi-mode;
	qcom,sync-dual-dsi;
	qcom,master-dsi;
	status = "okay";

	display_panel: panel@0 {
		compatible = "lenovo,tb320fc-nt36523n", "novatek,nt36523";
		reg = <0>;
		vddio-supply = <&vreg_l12c_1p95>;
		vddpos-supply = <&panel_vddpos>;
		vddneg-supply = <&panel_vddneg>;
		reset-gpios = <&tlmm 0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&panel_reset_default>;
		backlight = <&panel_backlight>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel_in_0: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};
			port@1 {
				reg = <1>;
				panel_in_1: endpoint {
					remote-endpoint = <&mdss_dsi1_out>;
				};
			};
		};
	};
};
&mdss_dsi0_out {
	data-lanes = <0 1 2>;
	remote-endpoint = <&panel_in_0>;
};
&mdss_dsi0_phy {
	compatible = "qcom,sm8475-dsi-phy-4nm";
	vdds-supply = <&vreg_l5b_0p88>;
	phy-type = <PHY_TYPE_CPHY>;
	status = "okay";
};
&mdss_dsi1 {
	vdda-supply = <&vreg_l10c_1p2>;
	qcom,dual-dsi-mode;
	qcom,sync-dual-dsi;
	assigned-clock-parents = <&mdss_dsi0_phy DSI_BYTE_PLL_CLK>,
				 <&mdss_dsi0_phy DSI_PIXEL_PLL_CLK>;
	status = "okay";
};
&mdss_dsi1_out {
	data-lanes = <0 1 2>;
	remote-endpoint = <&panel_in_1>;
};
&mdss_dsi1_phy {
	compatible = "qcom,sm8475-dsi-phy-4nm";
	vdds-supply = <&vreg_l5b_0p88>;
	phy-type = <PHY_TYPE_CPHY>;
	status = "okay";
};
&tlmm {
	panel_reset_default: panel-reset-default-state {
		pins = "gpio0";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};
};

&xbl_ramdump_mem { reg = <0 0x80640000 0 0x1c0000>; };
&uefi_log_mem { reg = <0 0x808e4000 0 0x10000>; };
&gcc { compatible = "qcom,sm8475-gcc"; };

&apps_rsc {
	regulators-0 {
		compatible = "qcom,pm8350-rpmh-regulators";
		qcom,pmic-id = "b";
		vdd-s10-supply = <&vph_pwr>;
		vdd-s11-supply = <&vph_pwr>;
		vdd-s12-supply = <&vph_pwr>;
		vdd-l2-l7-supply = <&vreg_bob>;
		vdd-l3-l5-supply = <&vreg_bob>;
		vreg_s10b_1p8: smps10 {
			regulator-name = "vreg_s10b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};
		vreg_s12b_1p25: smps12 {
			regulator-name = "vreg_s12b_1p25";
			regulator-min-microvolt = <1224000>;
			regulator-max-microvolt = <1400000>;
		};
		vreg_s11b_wifi: smps11 {
			regulator-name = "vreg_s11b_wifi";
			regulator-min-microvolt = <966000>;
			regulator-max-microvolt = <1170000>;
		};
		vreg_l2b_3p072: ldo2 {
			regulator-name = "vreg_l2b_3p072";
			regulator-min-microvolt = <3072000>;
			regulator-max-microvolt = <3072000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
		vreg_l5b_0p88: ldo5 {
			regulator-name = "vreg_l5b_0p88";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <880000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
	regulators-1 {
		compatible = "qcom,pm8350c-rpmh-regulators";
		qcom,pmic-id = "c";
		vdd-bob-supply = <&vph_pwr>;
		vdd-s1-supply = <&vph_pwr>;
		vdd-l6-l9-l11-supply = <&vreg_bob>;
		vdd-l10-supply = <&vreg_s12b_1p25>;
		vreg_s1c_wifi: smps1 {
			regulator-name = "vreg_s1c_wifi";
			regulator-min-microvolt = <1900000>;
			regulator-max-microvolt = <2024000>;
		};
		vreg_bob: bob {
			regulator-name = "vreg_bob";
			regulator-min-microvolt = <3008000>;
			regulator-max-microvolt = <3960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_AUTO>;
		};
		vreg_l10c_1p2: ldo10 {
			regulator-name = "vreg_l10c_1p2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
		vreg_l12c_1p95: ldo12 {
			regulator-name = "vreg_l12c_1p95";
			regulator-min-microvolt = <1950000>;
			regulator-max-microvolt = <1980000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-boot-on;
			regulator-always-on;
		};
		vreg_l6c_2p96: ldo6 {
			regulator-name = "vreg_l6c_2p96";
			regulator-min-microvolt = <2960000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
		vreg_l9c_2p96: ldo9 {
			regulator-name = "vreg_l9c_2p96";
			regulator-min-microvolt = <2960000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
	regulators-2 {
		compatible = "qcom,pmr735a-rpmh-regulators";
		qcom,pmic-id = "e";
		vdd-s2-supply = <&vph_pwr>;
		vreg_s2e_wifi: smps2 {
			regulator-name = "vreg_s2e_wifi";
			regulator-min-microvolt = <1012000>;
			regulator-max-microvolt = <1040000>;
		};
	};
};

&qupv3_id_0 { status = "okay"; };
&gpi_dma0 { status = "okay"; };
&uart7 { status = "okay"; };
&i2c5 {
	status = "okay";
	repeater: redriver@4f {
		compatible = "nxp,ptn3222";
		reg = <0x4f>;
		#phy-cells = <0>;
		vdd1v8-supply = <&vreg_s10b_1p8>;
		vdd3v3-supply = <&vreg_l2b_3p072>;
		reset-gpios = <&pm8350c_gpios 7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&repeater_reset>;
	};
};

&pm8350c_gpios {
	repeater_reset: repeater-reset-state {
		pins = "gpio7";
		function = "normal";
		power-source = <1>;
		bias-disable;
		output-high;
	};
};

&usb_1_hsphy {
	compatible = "qcom,sm8475-snps-eusb2-phy", "qcom,sm8550-snps-eusb2-phy";
	reg = <0 0x088e3000 0 0x154>;
	vdd-supply = <&vreg_l5b_0p88>;
	vdda12-supply = <&vreg_l10c_1p2>;
	phys = <&repeater>;
	status = "okay";
};

&usb_1 {
	status = "okay";
	dr_mode = "peripheral";
	maximum-speed = "high-speed";
	qcom,select-utmi-as-pipe-clk;
	phys = <&usb_1_hsphy>;
	phy-names = "usb2-phy";
	/delete-property/ usb-role-switch;
};

&sdhc_2 {
	cd-gpios = <&tlmm 92 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_default_state &sdc2_card_detect>;
	pinctrl-1 = <&sdc2_sleep_state &sdc2_card_detect>;
	vmmc-supply = <&vreg_l9c_2p96>;
	vqmmc-supply = <&vreg_l6c_2p96>;
	max-frequency = <50000000>;
	no-1-8-v;
	no-sdio;
	no-mmc;
	status = "okay";
};

&sdc2_default_state {
	cmd-pins {
		drive-strength = <10>;
	};
	data-pins {
		drive-strength = <10>;
	};
};

&tlmm {
	sdc2_card_detect: sd-card-detect-state {
		pins = "gpio92";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
		input-enable;
	};
};

&qup_spi4_data_clk {
	drive-strength = <6>;
	bias-disable;
};

&spi4 {
	status = "okay";

	touchscreen@0 {
		compatible = "novatek,nt36523n";
		reg = <0>;
		spi-max-frequency = <1000000>;
		interrupts-extended = <&tlmm 21 IRQ_TYPE_EDGE_RISING>;
		irq-gpios = <&tlmm 21 GPIO_ACTIVE_HIGH>;
		firmware-name = "novatek/tb320fc-nt36523n.bin";
		touchscreen-size-x = <16001>;
		touchscreen-size-y = <25601>;
	};
};

&gpucc { compatible = "qcom,sm8475-gpucc"; };
&gpu {
	compatible = "qcom,adreno-730.2", "qcom,adreno";
	interconnects = <&gem_noc MASTER_GFX3D 0 &mc_virt SLAVE_EBI1 0>;
	interconnect-names = "gfx-mem";
	status = "okay";
};
&gmu { status = "okay"; };
&gpu_zap_shader { firmware-name = "qcom/lenovo/tb320fc/a730_zap.mdt"; };
&gpu_opp_table {
	compatible = "operating-points-v2-adreno", "operating-points-v2";
	/delete-node/ opp-818000000;
	/delete-node/ opp-791000000;
	/delete-node/ opp-734000000;
	/delete-node/ opp-640000000;
	/delete-node/ opp-599000000;
	/delete-node/ opp-545000000;
	/delete-node/ opp-492000000;
	/delete-node/ opp-421000000;
	/delete-node/ opp-350000000;
	/delete-node/ opp-317000000;
	/delete-node/ opp-285000000;
	/delete-node/ opp-220000000;
	/delete-node/ opp-324000000;

	opp-220000000 {
		opp-hz = /bits/ 64 <220000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_MIN_SVS>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
		opp-peak-kBps = <1761718>;
	};
	opp-285000000 {
		opp-hz = /bits/ 64 <285000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_D1>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
		opp-peak-kBps = <1761718>;
	};
	opp-324000000 {
		opp-hz = /bits/ 64 <324000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
		opp-peak-kBps = <1761718>;
	};
	opp-364000000 {
		opp-hz = /bits/ 64 <364000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_L1>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_SVS>;
		opp-peak-kBps = <2136718>;
	};
	opp-439000000 {
		opp-hz = /bits/ 64 <439000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS_L2>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_SVS>;
		opp-peak-kBps = <6074218>;
	};
	opp-515000000 {
		opp-hz = /bits/ 64 <515000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_SVS>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_SVS>;
		opp-peak-kBps = <6074218>;
	};
	opp-580000000 {
		opp-hz = /bits/ 64 <580000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_SVS_L0>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_SVS_L1>;
		opp-peak-kBps = <8171875>;
	};
	opp-645000000 {
		opp-hz = /bits/ 64 <645000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_SVS_L1>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_SVS_L1>;
		opp-peak-kBps = <8171875>;
	};
	opp-710000000 {
		opp-hz = /bits/ 64 <710000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_SVS_L2>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_NOM>;
		opp-peak-kBps = <12484375>;
	};
	opp-765000000 {
		opp-hz = /bits/ 64 <765000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_NOM>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_NOM>;
		opp-peak-kBps = <12484375>;
	};
	opp-815000000 {
		opp-hz = /bits/ 64 <815000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_NOM_L1>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_NOM_L1>;
		opp-peak-kBps = <13085937>;
	};
	opp-862000000 {
		opp-hz = /bits/ 64 <862000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_TURBO>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_TURBO>;
		opp-peak-kBps = <13085937>;
	};
	opp-900000000 {
		opp-hz = /bits/ 64 <900000000>;
		opp-level = <RPMH_REGULATOR_LEVEL_TURBO_L1>;
		qcom,opp-cx-level = <RPMH_REGULATOR_LEVEL_TURBO_L1>;
		opp-peak-kBps = <13085937>;
	};
};

&pcie0 {
	max-link-speed = <2>;
	status = "okay";
};

&pcie0_phy {
	compatible = "qcom,sm8475-qmp-gen3x1-pcie-phy";
	vdda-phy-supply = <&vreg_l5b_0p88>;
	vdda-pll-supply = <&vreg_l10c_1p2>;
	status = "okay";
};

&pcieport0 {
	wifi@0 {
		compatible = "pci17cb,1103";
		reg = <0x10000 0 0 0 0>;
		vddaon-supply = <&wcn_aon>;
	};
};

&tlmm {
	wlan_enable_default: wlan-enable-default-state {
		pins = "gpio80";
		function = "gpio";
		drive-strength = <16>;
		bias-pull-down;
		output-low;
	};
	bt_enable_default: bt-enable-default-state {
		pins = "gpio81";
		function = "gpio";
		drive-strength = <16>;
		bias-pull-down;
		output-low;
	};
	wlan_xo_default: wlan-xo-default-state {
		pins = "gpio204";
		function = "gpio";
		drive-strength = <16>;
		bias-pull-down;
		output-low;
	};
};
